# ログや中間生成ファイルは無視する
*.jou
*.log
*.str
*.dcp

# プロジェクトフォルダ以下に作られるものをフォルダごと無視する
*.cache
*.hw
*.ip_user_files
*.sim

# IPのフォルダにも自動生成されるので必要なものだけ無視しない
IP_repo/**/**
!IP_repo/**/
!IP_repo/**/*.xci

# 論理合成や配線配置のレポートを例外としたいときは以下のように書く
*/*.runs/**/*
!*/*.runs/**/
!*/*.runs/**/*.rpt

# 論理合成の際に自動生成されるフォルダを無視するときはこう
# *.runs